---
# Clone a list of git repos into ~/src/<host>/<org>/<repo>.
#
# Input variable: repos_to_clone
# Supported item formats:
#   - "https://github.com/andygodish/package-k3d.git"
#   - "git@github.com:andygodish/package-k3d.git"
#   - { repo: "https://github.com/andygodish/package-k3d.git", version: "dev" }
#
# Notes:
# - Runs as the SSH user (become: false) so the checkout is owned by that user.
# - Idempotent: uses ansible.builtin.git.

- name: Ensure git is installed (Ubuntu)
  ansible.builtin.apt:
    name: git
    state: present
    update_cache: true
  become: true

- name: Lookup home directory for ansible_user
  ansible.builtin.getent:
    database: passwd
    key: "{{ ansible_user }}"
  become: true

- name: Set repo base dir (ansible_user home)
  ansible.builtin.set_fact:
    # getent_passwd fields: [name, passwd, uid, gid, gecos, home, shell]
    repos_base_dir: "{{ getent_passwd[ansible_user][4] }}/src"

- name: Assert repos_to_clone is provided
  ansible.builtin.assert:
    that:
      - repos_to_clone is defined
      - repos_to_clone | length > 0
    fail_msg: "Set repos_to_clone (list) to clone repos into ~/src/<host>/<org>/<repo>."

- name: Normalize repo items to a list of dicts
  ansible.builtin.set_fact:
    _repos_norm: "{{ _repos_norm | default([]) + [ (item is string) | ternary({'repo': item}, item) ] }}"
  loop: "{{ repos_to_clone }}"

- name: Derive clone destination paths
  ansible.builtin.set_fact:
    _repos_with_dest: "{{ _repos_with_dest | default([]) + [ item | combine({'dest': _dest, '_org': _org, '_repo': _repo}) ] }}"
  vars:
    _url: "{{ item.repo }}"
    # Normalize supported URL forms into a path-like string: host/org/repo
    # - https://github.com/org/repo(.git)
    # - git@github.com:org/repo(.git)
    # Also strips a trailing slash if present.
    _pathish: >-
      {{
        (_url
          | regex_replace('^https?://', '')
          | regex_replace('^git@', '')
          | regex_replace(':', '/')
          | regex_replace('/$', '')
          | regex_replace('\\.git$', '')
        )
      }}
    _host: "{{ (_pathish.split('/'))[0] | default('') }}"
    _org: "{{ (_pathish.split('/'))[1] | default('') }}"
    _repo: "{{ (_pathish.split('/'))[2] | default('') | regex_replace('\\.git$', '') }}"
    _dest: "{{ repos_base_dir }}/{{ _host }}/{{ _org }}/{{ _repo }}"
  loop: "{{ _repos_norm }}"


# (removed unused task)

- name: Validate derived clone path components
  ansible.builtin.assert:
    that:
      - _host | length > 0
      - _org | length > 0
      - _repo | length > 0
    fail_msg: "Could not parse repo URL into host/org/repo: {{ _url }}"
  loop: "{{ _repos_norm }}"
  loop_control:
    loop_var: _item
  vars:
    _url: "{{ _item.repo }}"
    _pathish: >-
      {{
        (_url
          | regex_replace('^https?://', '')
          | regex_replace('^git@', '')
          | regex_replace(':', '/')
          | regex_replace('/$', '')
          | regex_replace('\\.git$', '')
        )
      }}
    _host: "{{ (_pathish.split('/'))[0] | default('') }}"
    _org: "{{ (_pathish.split('/'))[1] | default('') }}"
    _repo: "{{ (_pathish.split('/'))[2] | default('') | regex_replace('\\.git$', '') }}"

- name: Ensure ~/src root exists
  ansible.builtin.file:
    path: "{{ repos_base_dir }}"
    state: directory
    mode: "0755"
  become: false

- name: Ensure per-repo parent directories exist
  ansible.builtin.file:
    path: "{{ item.dest | dirname }}"
    state: directory
    mode: "0755"
  loop: "{{ _repos_with_dest }}"
  become: false

- name: Clone/update repos
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ item.dest }}"
    version: "{{ item.version | default(omit) }}"
    update: true
    force: false
  loop: "{{ _repos_with_dest }}"
  become: false

- name: Show cloned repo destinations
  ansible.builtin.debug:
    msg: "Cloned {{ item.repo }} -> {{ item.dest }}"
  loop: "{{ _repos_with_dest }}"
