---
- name: Bootstrap - install Docker
  hosts: all
  gather_facts: true
  become: true

  pre_tasks:
    - name: Fix netplan DHCP/DNS (Proxmox template stale MAC match)
      ansible.builtin.import_tasks: tasks/fix-netplan-dhcp.yaml

  # Role: https://galaxy.ansible.com/ui/standalone/roles/geerlingguy/docker/
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"
