---
- name: Bootstrap - install Docker
  hosts: all
  gather_facts: true
  become: true

  vars:
    k3d_version: "v5.8.3"
    uds_cli_version: "v0.28.2"

  pre_tasks:
    - name: Fix netplan DHCP/DNS (Proxmox template stale MAC match)
      ansible.builtin.import_tasks: tasks/fix-netplan-dhcp.yaml

  # Role: https://galaxy.ansible.com/ui/standalone/roles/geerlingguy/docker/
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"

  tasks:
    - name: Install k3d
      ansible.builtin.import_tasks: tasks/install-k3d.yaml

    - name: Install UDS CLI (pinned)
      ansible.builtin.import_tasks: tasks/install-uds-cli.yaml

    - name: Clone repos (optional)
      ansible.builtin.import_tasks: tasks/clone-repos.yaml
      when: repos_to_clone is defined
      tags:
        - clone-repos
